<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prolancer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
           <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>


<body>

	<div id="mySidenav" class="sidenav">

		<p class="logo"><span> <img src="~/images/logoo.png" class="img-fluid" style="width:40px; margin:-3px 0px 0px 0px;"></span>PROLANCER</p>


		<a class="icon-a" asp-area="" asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard icons"></i>&nbsp;&nbsp;Dashboard</a>

		<a class="icon-a" asp-area="" asp-controller="Users" asp-action="Index"><i class="fa-solid fa-users icons"></i>&nbsp;&nbsp;Freelancers</a>

		<a class="icon-a" asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Projects</a>

		<a class="icon-a" asp-area="" asp-controller="Requests" asp-action="Index"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp;Requests</a>
	

	</div>
	<div id="main">                                                                                          

		<div class="head">
			<div class="col-div-6">
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav">&#9776; Dashboard</span>
				<span style="font-size:30px;cursor:pointer; color: white;" class="nav2">&#9776; Dashboard</span>
			</div>

			<div class="col-div-6">
				<div class="profile">

					

					<div class="action">
						<div class="profile" onclick="menuToggle();">
							<img src="~/images/bellhop.png" class="pro-img" />
						</div>

						<div class="menu">
							<h3>
								Admin Account
								<div>
									Manage App
								</div>
							</h3>
							<ul>
								<li>
									<i class="fa-solid fa-user" style="color: #555"></i>
									<a href="#">My Profile</a>
								</li>
								<li>
									<i class="fa-solid fa-right-from-bracket" style="color: #555"></i>
									@if (Context.Session.GetString("UserEmail") == null)
									{
										<a asp-controller="Account" asp-action="Login" class="headeer-btn my-2 my-sm-0">Login</a>

									}
									else
									{
										<form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
											<input type="submit" value="Logout" class="transparent-input" />
										</form>
									}
								</li>
							</ul>
						</div>
					</div>
				



				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="clearfix"></div>
		<br />

	
	
		@RenderBody()
		

		<div class="clearfix"></div>
	</div>

	

	 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var navbar = $('.header-inner');
            $(window).scroll(function () {
                if ($(window).scrollTop() <= 40) {
                    navbar.removeClass('navbar-scroll');
                } else {
                    navbar.addClass('navbar-scroll');
                }
            });
        });
    </script>

    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script> 

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>

		$(".nav").click(function () {
			$("#mySidenav").css('width', '70px');
			$("#main").css('margin-left', '70px');
			$(".logo").css('visibility', 'hidden');
			$(".logo span").css('visibility', 'visible');
			$(".logo span").css('margin-left', '-10px');
			$(".icon-a").css('visibility', 'hidden');
			$(".icons").css('visibility', 'visible');
			$(".icons").css('margin-left', '-8px');
			$(".nav").css('display', 'none');
			$(".nav2").css('display', 'block');
		});

		$(".nav2").click(function () {
			$("#mySidenav").css('width', '300px');
			$("#main").css('margin-left', '300px');
			$(".logo").css('visibility', 'visible');
			$(".icon-a").css('visibility', 'visible');
			$(".icons").css('visibility', 'visible');
			$(".nav").css('display', 'block');
			$(".nav2").css('display', 'none');
		});

	</script>
	

</body>

</html>
