

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prolancer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
           <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>


    <header class="header" >
        <div class="header-inner">
            <div class="container-fluid px-lg-5">
                <nav class="navbar navbar-expand-lg my-navbar">
                    <a class="navbar-brand" href="#">
                        <span class="logo">
                            <img src="~/images/logoo.png" class="img-fluid" style="width:40px; margin:-3px 0px 0px 0px;"><span style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:bold">PROLANCER</span>
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fas fa-bars" style="margin:5px 0px 0px 0px;"></i></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">AboutUs</a>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index2">Projects</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>

                            <li>
                                <a class="nav-link"  style="color: deeppink; margin-right: 100px">@Context.Session.GetString("UserName")</a>

                            </li>
                               
                      </ul>
                       
                        
                        @if (Context.Session.GetString("UserEmail") == null)
                        {
                            <a asp-controller="Account" asp-action="Login" class="headeer-btn my-2 my-sm-0">Login</a>

                        }

                        else
                        {
                           
                            <div class="action">
                                    <div class="profile" onclick="menuToggle();">
                                        <img src="~/images/user.jfif" class="pro-img" />
                                    </div>


                                    <div class="menu">
                                        <h3>
                                            Freelancer Account
                                            <div>
                                                Manage My Project
                                            </div>
                                        </h3>
                                        <ul>
                                            <li>
                                            <i class="fa-solid fa-gauge"></i>
                                            <a class="nav-link" asp-area="" asp-controller="Projects" asp-action="AccountUser">Board</a>

                                            </li>
                                            <li>
                                                    
                                                    <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                                                       <i class="fa-solid fa-right-from-bracket"></i>  <input type="submit" value="Logout" class="transparent-input" />
                                                    </form>
                                              
                                            </li>
                                        </ul>
                                    </div>
                                   
                                </div>
                        }

                    
                    </div>
                </nav>

            </div>
        </div>

    </header>
  
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
  


    <section class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Prolancer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var navbar = $('.header-inner');
            $(window).scroll(function () {
                if ($(window).scrollTop() <= 40) {
                    navbar.removeClass('navbar-scroll');
                } else {
                    navbar.addClass('navbar-scroll');
                }
            });
        });
    </script>

    <script>
        function menuToggle() {
            const toggleMenu = document.querySelector('.menu');
            toggleMenu.classList.toggle('active')
        }
    </script>
</body>
</html>
