@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Page";
}

<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />


<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
        <div class="skills">
            <span>Choose Project</span>
            <span>Manage Project</span>
            <span>Being Professional</span>
        </div>
    </div>
</div>